<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cfwifine.sxk">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- the following two permissions are required if you want to take photo in selector -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".BaseAC.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoTitle">
        <activity android:name=".Section.WelcomeNC.WelcomeAC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseAC.BaseAC"
            android:theme="@style/AppTheme" />
        <activity android:name=".BaseAC.MainAC" />
        <activity
            android:name=".Section.LoginAC.Controller.LoginUseBoobeAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.LoginAC.Controller.RegisterNowAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.LoginAC.Controller.ForgetPawAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.PublishNC.AC.PublishPublishAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:theme="@style/AppThemeHasBlackTitle" />
        <activity
            android:name=".Section.PublishNC.AC.PublishCateoryAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.PublishNC.AC.PublishBrandAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.PublishNC.AC.PublishMaterialAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.PublishNC.AC.CheckRecycleViewAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity android:name=".Section.PublishNC.View.PreviewPicView.ImageBrowseActivity" />
        <activity
            android:name=".Section.MineNC.Controller.UserInfoAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.MineNC.Controller.PersonalIntroAndChangePswAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.MineNC.Controller.UserPrctocalAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.MineNC.Controller.UserInfoRecycleViewCommomAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.MineNC.Controller.AddressSettingCommomAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.MineNC.Controller.AddressDetailAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.HomeNC.Controller.EightItemDetailAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.HomeNC.Controller.ActivityDetailAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.CommunityNC.Controller.CommunityPublishTopicAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity android:name=".Section.PublishNC.AC.HowToReleasePicAC"
            android:theme="@style/AppThemeHasTitle"></activity>

    </application>


    // 集成美恰相关界面
    <!--聊天界面-->
    <activity
        android:name="com.meiqia.meiqiasdk.activity.MQConversationActivity"
        android:configChanges="keyboardHidden|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/MQTheme"
        android:windowSoftInputMode="stateHidden|adjustResize" />

    <!--图片查看界面-->
    <activity
        android:name="com.meiqia.meiqiasdk.activity.MQPhotoPreviewActivity"
        android:configChanges="keyboardHidden|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/MQTheme"
        android:windowSoftInputMode="stateAlwaysHidden" />

    <!--图片选择界面-->
    <activity
        android:name="com.meiqia.meiqiasdk.activity.MQPhotoPickerActivity"
        android:configChanges="keyboardHidden|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/MQTheme"
        android:windowSoftInputMode="stateAlwaysHidden" />
    <!--图片选择预览界面-->
    <activity
        android:name="com.meiqia.meiqiasdk.activity.MQPhotoPickerPreviewActivity"
        android:configChanges="keyboardHidden|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/MQTheme"
        android:windowSoftInputMode="stateAlwaysHidden" />
    <!--WebView 界面-->
    <activity
        android:name=".activity.MQWebViewActivity"
        android:configChanges="keyboardHidden|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/MQTheme"
        android:windowSoftInputMode="stateHidden|adjustResize" />
    <!--询前表单-->
    <activity
        android:name=".activity.MQInquiryFormActivity"
        android:configChanges="keyboardHidden|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/MQTheme"
        android:windowSoftInputMode="stateHidden|adjustResize" />

    <activity
        android:name=".activity.MQCollectInfoActivity"
        android:configChanges="keyboardHidden|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/MQTheme"
        android:windowSoftInputMode="stateHidden|adjustResize" />

    <service android:name="com.meiqia.core.MeiQiaService" />

</manifest>