<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cfwifine.sxk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- the following two permissions are required if you want to take photo in selector -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".BaseAC.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoTitle">
        <activity android:name=".Section.WelcomeNC.WelcomeAC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseAC.BaseAC"
            android:theme="@style/AppTheme" />
        <activity android:name=".BaseAC.MainAC" />
        <activity
            android:name=".Section.LoginAC.Controller.LoginUseBoobeAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.LoginAC.Controller.RegisterNowAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.LoginAC.Controller.ForgetPawAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.PublishNC.AC.PublishPublishAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:theme="@style/AppThemeHasBlackTitle" />
        <activity
            android:name=".Section.PublishNC.AC.PublishCateoryAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.PublishNC.AC.PublishBrandAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.PublishNC.AC.PublishMaterialAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.PublishNC.AC.CheckRecycleViewAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity android:name=".Section.PublishNC.View.PreviewPicView.ImageBrowseActivity" />
        <activity
            android:name=".Section.MineNC.Controller.UserInfoAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.MineNC.Controller.PersonalIntroAndChangePswAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity android:name=".Section.MineNC.Controller.UserPrctocalAC" />
        <activity
            android:name=".Section.MineNC.Controller.UserInfoRecycleViewCommomAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity
            android:name=".Section.MineNC.Controller.AddressSettingCommomAC"
            android:theme="@style/AppThemeHasTitle" />
        <activity android:name=".Section.MineNC.Controller.AddressDetailAC"
            android:theme="@style/AppThemeHasTitle"></activity>
    </application>

</manifest>